MONGODB_URI=mongodb+srv://<db_username>:<db_password>@soufiane.oyh7wis.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=soufiane_dev
GMAIL_USER=your-gmail@gmail.com
GMAIL_APP_PASSWORD=your-16-character-gmail-app-password
PORT=3000
